# Python
venv/
__pycache__/
*.pyc
.env

# Datasets
datasets/raw/
datasets/processed/
datasets/KDDTest+.arff
!datasets/.gitkeep

# Models
models/*.pkl
models/*.cbm

# Results
results/
*.csv
*.png
*.jpg

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db